<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>DigiTeam - agence digitale sport - Notre blog</title>
    <meta name="description" content="L'agence Digiteam Sport vous accompagne de la conception jusqu'à la mise en place de votre stratégie digitale. Notre blog">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ asset('/images/favicon.ico') }}" />

    <title>{% block title %}DigiTeam{% endblock %}</title>

    {% include 'layout/stylesheets.html.twig' %}

</head>

{% include 'layout/navbar.html.twig' %}

<body>


<section id="pricing" class="pricing lightbg" >
<div class="container lightbg">
    <section class="blog" >
        <div class="filters-button-group text-right sm-text-center">
            <button class="btn filter-button" data-filter="tout">Tout</button>
            <button class="btn filter-button" data-filter="Web">Web</button>
            <button class="btn filter-button" data-filter="Conseil">Conseil</button>
            <button class="btn filter-button" data-filter="InboundMarketing">Inbound Marketing</button>
            <button class="btn filter-button" data-filter="Design">Design</button>
        </div>
    </section>

    <div class="row">

        {% for article in articles %}

            <div class="col-md-4 filter tout {{ article.category }}" >

                <div class="pricing_item bg-white" style="height:650px;padding-right:5%;padding-left: 5%;padding-top:5%;">
                    <div class="pricing_head  p-bottom-10 text-center">
                    <div class="card-img">
                        <img src="{{ asset('uploads/images/') }}{{ article.image }}" alt="{{ article.altImage }}" style="height:199px;width: 400px;">
                    </div>
                    </div>
                        <div class="pricing_head p-top-10  text-center" style="height:150px;">
                        <span><h4>{{ article.titre }}</h4></span>
                        </div>

                    <div class="card-desc p-top-10 p-bottom-20" style="height:150px;">
                        <p>{{ article.resume }}</p>
                    </div>
                    <div class="pricing_btn text-center m-top-40">
                        <a href="{{ path('article', { 'slug': article.slug }) }}" class="btn btn-default">En savoir plus >></a>
                    </div>
                </div>
                </div>


        {% endfor %}


    </div> <br/><br/><br/>
</div>
</section>
    {% include 'layout/footer.html.twig' %}

{% include 'layout/javascripts.html.twig' %}
</body>