<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>DigiTeam - agence digitale sport - nos services</title>
    <meta name="description" content="L'agence Digiteam Sport vous propose ici son catalogue de services. Nos services">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ asset('/images/favicon.ico') }}" />

    <title>{% block title %}DigiTeam{% endblock %}</title>

    {% include 'layout/stylesheets.html.twig' %}

</head>

{% include 'layout/navbar.html.twig' %}
<body>

<!--Pricing Section-->
<section id="pricing" class="pricing lightbg" style="padding-top: 10%;">
    <div class="container">
        <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="pricing_item">

                        <div class="pricing_head p-top-30 text-center">
                            <div class="card-img">
                                <img src="/images/Starter.png" alt="pack Starter">
                                <br/><br/>
                                <span><h3 class="titleservice">PACK STARTER</h3></span>
                            </div><br/>

                        <div class="pricing_body bg-white p-top-20 p-bottom-20" style="height: 600px;">
                            <ul>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Création du site Wordpress 1 à 5 pages</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Choix du thème parmi une selection</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Responsive design</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Création d'un formulaire de contact</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Intégration de votre contenu</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Référencement naturel</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Hébergement et nom de domaine pour un an</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>2 adresses e-mail</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Formation</span> </li>
                            </ul>
                            <div class="pricing_btn text-center m-top-40">
                                <h3>1 450€</h3>
                            </div>
                            <div class="pricing_btn text-center m-top-40">
                                <a href="{{ path ('devis') }}#starter" class="btn btn-default">Demander un devis >></a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div><!-- End off col-md-4 -->

            <div class="col-md-4 col-sm-12">
                <div class="pricing_item">

                    <div class="pricing_head p-top-30  text-center">
                        <div class="card-img">
                            <img src="/images/Challenger.png" alt="pack Challenger">
                            <br/><br/>
                            <span><h3 class="titleservice">PACK CHALLENGER</h3></span>
                        </div><br/>

                        <div class="pricing_body bg-white p-top-20 p-bottom-20" style="height: 600px;">
                            <ul>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Création du site Wordpress 5 à 15 pages</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Choix d'un thème premium</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Responsive design</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Création d'un formulaire de contact</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Création d'un blog</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Intégration de votre contenu</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Création de votre logo</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Référencement SEO</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Installation plugin suivi de performance</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Hébergement et nom de domaine pour un an</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>4 adresses e-mail</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Création d'une page pro réseau social</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Formation</span> </li>
                            </ul>
                            <div class="pricing_btn text-center m-top-40">
                                <h3>2 500€</h3>
                            </div>
                            <div class="pricing_btn text-center m-top-40">
                                <a href="{{ path ('devis') }}#challenger" class="btn btn-default">Demander un devis >></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End off col-md-4 -->

            <div class="col-md-4 col-sm-12">
                <div class="pricing_item">

                    <div class="pricing_head p-top-30 text-center">
                        <div class="card-img">
                            <img src="/images/Expert.png" alt="Pack expert">
                            <br/><br/>
                            <span><h3 class="titleservice">PACK EXPERT</h3></span>
                        </div><br/>

                        <div class="pricing_body bg-white p-top-20 p-bottom-20" style="height: 600px;">
                            <ul>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Création du site sur mesure</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Thème unique design sur mesure</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Responsive design</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Cahier des charges et accompagnement</span> </li
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Création d'un formulaire de contact</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Création d'un formulaire de devis</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Création d'un blog</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Création d'un espace d'administration</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Intégration de votre contenu</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Création de votre charte graphique</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Stratégie SEO personnalisée</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Suivi de performance</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Hébergement et nom de domaine</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>8 adresses e-mail</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Création d'une page pro réseau social</span> </li>
                                <li><i class="fa fa-check-circle text-primary"></i> <span>Formation</span> </li>
                            </ul>
                            <div class="pricing_btn text-center m-top-40">
                                <h3>à partir de 4 000€</h3>
                            </div>
                            <div class="pricing_btn text-center m-top-40">
                                <a href="{{ path ('devis') }}#expert" class="btn btn-default">Demander un devis >></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End off col-md-4 -->
            </div><br/>

    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="pricing_item">

                <div class="pricing_head p-top-30 p-bottom-100 text-center">
                    <div class="card-img">
                        <img src="/images/conseil.png" alt="conseil/audit" style="height:199px;">
                        <br/><br/>
                        <span><h3 class="titleservice">AUDIT/CONSEIL</h3></span>
                    </div><br/><br/><br/>

                    <div class="pricing_body bg-white p-top-20 p-bottom-20" style="height: 500px;">
                        <ul>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>Rapport d'analyse complet avec préconisations</span></li>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>Identification de facteurs techniques bloquants</span></li>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>Analyse des pages de votre site Internet</span></li>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>Gestion des redirections web</span></li>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>Pertinence des mots clés ciblés</span></li>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>Analyse positionnement et celui des concurrents</span></li>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>Architecture du site et mailage</span></li>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>Analyse du contenu éditorial</span></li>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>Parcours et expérience utilisateur</span></li>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>Analyse du tunnel de conversion</span></li>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>Recherches d'opportunités</span></li>
                        </ul>
                        <div class="pricing_btn text-center m-top-40">
                            <a href="{{ path ('devis') }}#consulting" class="btn btn-default">Demander un devis >></a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End off col-md-4 -->

        <div class="col-md-4 col-sm-12">
            <div class="pricing_item">

                <div class="pricing_head p-top-30 p-bottom-100 text-center">
                    <div class="card-img">
                        <img src="/images/design.png" alt="design" style="height:199px;">
                        <br/><br/>
                        <span><h3 class="titleservice">DESIGN</h3></span>
                    </div><br/><br/><br/>

                    <div class="pricing_body bg-white p-top-20 p-bottom-20" style="height: 500px;">
                        <ul>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>Conception charte graphique</span></li>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>Création logo</span></li>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>Plaquette papier</span></li>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>Catalogue de produit</span></li>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>Flyer</span></li>
                        </ul>
                        <div class="pricing_btn text-center m-top-40">
                            <a href="{{ path ('devis') }}#design" class="btn btn-default">Demander un devis >></a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End off col-md-4 -->

        <div class="col-md-4 col-sm-12">
            <div class="pricing_item">

                <div class="pricing_head p-top-30 p-bottom-100 text-center">
                    <div class="card-img">
                        <img src="/images/Inbound.png" alt="inbound marketing">
                        <br/><br/>
                        <span><h3 class="titleservice">INBOUND MARKETING</h3></span>
                    </div><br/><br/><br/>

                    <div class="pricing_body bg-white p-top-20 p-bottom-20" style="height: 500px;">
                        <ul>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>Définition du contexte et analyse du marché</span></li>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>Gestion des réseaux sociaux</span></li>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>Référencement SEO </span></li>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>Production de contenu</span></li>
                            <li><i class="fa fa-check-circle text-primary"></i> <span>Optimisation ROI</span></li>
                        </ul>
                        <div class="pricing_btn text-center m-top-40">
                            <a href="{{ path ('devis') }}#inboundmarketing" class="btn btn-default">Demander un devis >></a>
                        </div>

                    </div>
                </div>
            </div>
        </div><!-- End off col-md-4 -->
    </div>
    </div><!--End off row-->

    </div><!--End off container -->
</section> <!--End off Pricing section -->


<a href="#" class="scrollup" style="display: block;"></a>

{% include 'layout/footer.html.twig' %}
</body>
{% include 'layout/javascripts.html.twig' %}